<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Categorias</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item-sliding *ngFor="let categoria of categorias">
            <ion-item [routerLink]="['/marcas/categoria', categoria.IdCategoria ]">
                <ion-label>{{ categoria.Categoria }}</ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</ion-content>