<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Productos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <!-- <ion-title size="large">{{ folder }}</ion-title> -->
        </ion-toolbar>
    </ion-header>

    <!-- Esto deberia abrir un modal -->
    <ion-card *ngFor="let producto of productos">
        <ion-item>
            <!-- <img src="../../../src/assets/img/{{categoria.Categoria}} "> -->
            <ion-label>{{producto.Producto}}</ion-label>
            <!-- Colors -->
            <ion-button color="primary" (click)="infoProductoModal(producto.IdProducto)">
                <ion-icon name="information-circle-outline"></ion-icon>
            </ion-button>

        </ion-item>
    </ion-card>

</ion-content>